{% extends 'base.html.twig' %}

{% block title %}
    <h2>Nos articles</h2>
{% endblock %}

{% block body %}
    <h3>Bloc des articles</h3>
    <a href="{{path("app_home")}}">Homepage</a>
{% endblock %}
