{% extends 'partials/base.html.twig' %}
{# {% include "article/index.html.twig" %} #}

{% block title %}Index !{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-3 mt-3 pb-3 text-center">
        <h1 class="card-header">Bienvenue sur Yescode ! </h1>
        <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam.</h5>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos aliquid numquam vitae omnis, illum
                quis debitis laudantium vel enim?</p>
        </div>
        <div>
            <a class="btn btn-primary" href="{{path("articles_index")}}">Voir les actus !</a>
        </div>
    </div>
</div>
<div class="d-flex gap-2 align-content-between" id="cards-container">
    {% for article in articles %}
    {% include "partials/card.article.html.twig" %}
    {% endfor %}
</div>
{% endblock %}