{% extends 'partials/base.html.twig' %}
{# {% include "article/index.html.twig" %} #}

{% block title %}Index !{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-3 mt-3 pb-3 text-center">
        <h1 class="card-header">Bienvenue sur Yescode ! </h1>
        <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam.</h5>
        </div>

        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos aliquid numquam vitae omnis, illum
                quis debitis laudantium vel enim?</p>
        </div>
        <div>
            <a class="btn btn-primary" href="{{path("articles_index")}}">Voir les actus !</a>
        </div>
    </div>
</div>

{# Variables to display #}
{# /!\ peut-être mieux en objet ? #}
<div class="d-flex gap-2 align-content-between" id="cards-container">
    {# {% set symfony = {"title": "symfony", "intro": "Symfony est un framework PHP complet", "createdAt":date(),"image":"https://neo7.fr/wp-content/uploads/2018/01/symfony-logo.png"} %}
    {% set angular = {"title": "angular", "intro": "Angular le framework de Google", "createdAt":date(),"image":"https://angular.io/assets/images/logos/angular/angular.svg" }%}
    {% set laravel = {"title": "laravel", "intro": "Laravel est un framework PHP aussi", "createdAt":date() ,"image":"https://jf-blog.fr/wp-content/uploads/2018/07/laravel-logo.png"} %}
    {% set articles = {'angular':angular, 'symfony':symfony,'laravel':laravel} %} #}
    {# Actual display with loop #}
    
    {% for article in articles %}
    {% include "partials/card.article.html.twig" %}
    {% endfor %}

</div>
{% endblock %}