{% extends 'partials/base.html.twig' %}
{% block title %}Nouvel article !{% endblock %}

{% block body %}
<h1 class="mt-2 mx-auto">Création d'un nouvel article</h1><br/>
<p>Publier un nouvel article :</p><br/>

<div class="alert alert-danger">
    {{form_errors(form)}}
</div>
<div class="col-8 m-auto">
    {{form (form)}}
</div>

{% endblock %}