{% extends 'partials/base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<h1>Nos articles ! ✅</h1>
<div class="row flex-lg-row flex-xl-row flex-column">
   {% for article in articles %}
       {% include "partials/card.article.html.twig" %}   
   {% endfor %}
</div>
{% endblock %}